.main{
    width:100%; padding-bottom:100px;
    overflow:hidden;
  
}

/* 슬라이드버튼 */
.slide_btn{
    position:absolute; z-index:10;
    width:100%; height:700px;
    cursor:pointer;
}
.slide_btn .prev{
    width:50%; height:100%;
    float:left;
}
.slide_btn .next{
    width:50%; height:100%;
    float:left;
}

/* 슬라이드 */
.slide{
    width:200%;
}
.slide>li{
    width:50%;
    height:700px;
    float:left;
    position: relative;
}
.page{
    position:absolute; z-index:20;
    top:50%; right:2%;
    transform: translate(-50%,-50%) rotate(90deg);
    font-size:30px;
    }
.slide_inner{
    width:1350px; height:400px;
    position: absolute; z-index:2;
    left:50%; bottom:0;
    transform: translate(-50%,0%);
}


.slide_text{
    position:absolute;
    width:1350px;
     z-index:2;
     display: flex; justify-content: space-between;
     align-items: flex-end;
}

.slide_inner>img{
    position:absolute; z-index:3;
}
/* 슬라이드1 */
.slide1 {overflow: hidden;}
.slide1 .slide_inner>img:nth-of-type(1){
    margin-left:50px; bottom:80px;
    animation: littlerotate alternate 1.5s infinite ease-out;
}
.slide1 .slide_inner>img:nth-of-type(2){
    margin-left:200px; top:10px;
    animation: rotate 3s infinite linear ;
}
.slide1 .slide_inner>img:nth-of-type(3){
    left:34%; bottom:0;
}
.slide1 .slide_inner>img:nth-of-type(4){
    left:47%; bottom:20px;
}
.slide1 .slide_inner>img:nth-of-type(5){
    left:62%; bottom:20px;
}
.slide1 .slide_inner>img:nth-of-type(6){
    right:20%; margin-top:-80px;
    animation: updown 1.5s alternate infinite ease-out;
}
.slide1 .slide_inner>img:nth-of-type(7){
    right:31%; margin-top:-90px;
    animation: updown 1.2s alternate infinite ease-out;
}
.slide1 .slide_inner>img:nth-of-type(8){
    right:43%; margin-top:-100px;
    animation: updown 1.3s alternate infinite ease-out;
}
.slide1 .slide_inner>img:nth-of-type(9){
    right:28%; margin-top:-150px;
    animation: updown 1.4s alternate infinite ease-out;
}

@keyframes littlerotate{
    0%{transform:rotate(-5deg);}
    100%{transform:rotate(5deg);}
}
@keyframes rotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@keyframes updown{
    0%{transform: translateY(10px);}
    100%{transform: translateY(-10px);}
}
@keyframes leftright{
    0%{transform: translateX(10px);}
    100%{transform: translateX(-10px);}
}

.slide1 .back_img{
    position:absolute; z-index:1;
   left:-50%; top:-50%;
}
/* 슬라이드2 */
.slide2 .slide_inner>img:nth-of-type(1){
    left:25%; top:0;
    
}
.slide2 .slide_inner>img:nth-of-type(2){
    left:0; top:-15%;
    animation: littlerotate alternate 1s infinite ease-out;
}
.slide2 .slide_inner>img:nth-of-type(3){
    left:0; top:-30%;
    animation: littlerotate alternate 1s infinite ease-out;
}
.slide2 .slide_inner>img:nth-of-type(4){
    left:-7%; top:-13%;
    animation: littlerotate alternate 1s infinite ease-out;
}
.slide2 .slide_inner>img:nth-of-type(5){
    left:3%; top:-15%;
}

.slide2 .slide_inner>img:nth-of-type(6){
    right:25%; bottom:10%;
    animation: leftright alternate 1s infinite ease-out;
}
.slide2 .slide_inner>img:nth-of-type(7){
    right:31%; top:0%;
    animation: updown alternate 1s infinite ease-out;
}
.slide2 .slide_inner>img:nth-of-type(8){
    right:31%; top:-15%;
    animation: updown alternate 1.2s infinite ease-out;
}
.slide2 .slide_inner>img:nth-of-type(9){
    right:31%; top:-30%;
    animation: updown alternate 1.15s infinite ease-out;
}
.slide2 .slide_inner>img:nth-of-type(10){
    right:2.5%; top:30%;
}
.slide2 .slide_inner>img:nth-of-type(11){
    right:1%; top:3%;
}
.slide2 .slide_inner>img:nth-of-type(12){
    right:5%; top:2%;
}
.slide2 .back_img{
    position:absolute; z-index:1;
    right:-5%; bottom:-30%;
}

/* 통합검색 */
.search{
    position: relative; z-index:10;
    width:950px;
    height:100px; margin:0 auto;
    display:flex; flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.search select, .search input{
    height:100px;
    border:none;
    border-bottom:5px solid black;
    font-size: 30px;
    font-weight:bold;
    background:none;
}

.search select{width:200px;  cursor: pointer;}
.search input{width:600px;}

.search_icon{
    width:100px; height:100px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
}
.search_icon div{
    width:80px; height:80px;
    border-radius: 100%;
    margin:10px;
    background:#ff8555;
    position: absolute;
}
.search span{
    width:80px; height:80px;
    margin:10px;
    border-radius: 100%;
    background:#ea541b;
    display: block;
    position: absolute;
    
}
.search span img{
    width:40%;
    left:50%; right:50%;
    transform: translate(70%,70%);
}

/* section */
section{
    width:1280px; margin:0 auto;
    padding:100px 0;
    border:1px solid red;
}
section h2{
    font-size:65px; letter-spacing: -1px;
}
section p{
    font-size:25px; line-height:40px;
    font-weight:500; letter-spacing: -2px;
}
/* section1 */
.section1 {
    text-align:center;
    border:1px solid red;
}
.section1 h2{
    opacity:0;
}
.section1>p{
    margin:50px 0 100px 0;
    opacity:0;
}
.section1 .btn{
    cursor:pointer;
    display: inline-block;
    padding:30px;
    opacity:0;
}
.section1 .btn div{
    overflow: hidden;
    height:40px;
}
.section1 .btn p {
    font-size:20px;
    font-weight:bold;
    position: relative;
}
.section1 .btn p:nth-of-type(2){
    color:gold;
}
.section1 .btn span{
    display:block; margin:0 auto;
    width:40px;
    border-bottom:2px solid black;
}


/* section2 */
.section2 {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section2 .imgbox{
    width:40%; height:600px; overflow: hidden;
    background:gold;
    position:relative;
}
.section2 .imgbox img{
    position:absolute;
    left:0; top:0;
    height:100%;
}
.section2 .imgbox img:not(:first-child){
    display:none;
}
.section2 ul{
    width:50%; height:600px;
}
.section2 ul li{
    border-bottom:2px solid #e8e8e8;
}
.section2 ul h3{
    font-size:60px; padding:10px 0;
    font-weight:bold;
    color:#e8e8e8;
    cursor: pointer;
}
.section2 ul h3:not(:first-child){
    margin:0 50px;
}
.section2 ul p{
    padding-bottom:30px;
    display:none;
}


