@charset "utf-8";


/* 공통 */
* {
    padding: 0;margin: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}
button{
    background: none; border:none;
    cursor: pointer; 
}

/*햄버거*/
.menu_btn{
    width:100px; 
    position: absolute; z-index:100;
    right:50px; top:60px;
}
.menu_btn p{
    display:none;
    float:left; 
    line-height: 38px;
}
.menu_btn .ham {
    width: 30px; height: 38px;
    display: flex; flex-direction: column;
    justify-content: space-evenly;
    float:right;
}
.menu_btn .ham span {
    width:30px;
    border: 3.3px solid black;
    background:black;
}
.menu_btn .ham span:nth-of-type(2) {
    width:20px;transition: 0.2s ;
}
.menu_btn .ham:hover span:nth-of-type(2) {
    width:30px;

}


header{
    width:100%; height:150px;
    margin:0 auto;
    padding:0 50px;
    background:gold;
    position: relative;
    display: flex;
    justify-content: space-between; align-items: center;
}
/* 탑메뉴*/
.top_menu{
    position: fixed;
    width:auto;
    top:7%; left:30%; 
}
.top_menu li{
    padding: 10px; margin:0 10px;
    float:left;
}
.top_menu li a{
    display:block;
    color:gray; }



/* 사이드메뉴*/
.side_menu{
    position:fixed; left:0; top:0;
    width:100%; height:100%;
    background:#f7f7ef;
}
.side_wrap{
    width:1284px;
    margin:0 auto;
    display:flex;
}
.side_inner{
    border:1px solid gold;
    width:1000px;
}

.side_inner>li{
    position: relative;
}
.side_inner>li>a{
    font-size:90px;
    padding:10px;
}
.side_inner span{
    display: block;
    border-bottom: 2px solid #ff6600;
    position: absolute;
    width: 0px;
    top:50%; left:50%;
    opacity: 0;
    transition:1s;
}
.side_inner ul{
    position: absolute;
    left:65%; top:0;
}
.side_inner ul li{
    font-size: 19px;
    margin-left:-50px;
    opacity: 0;
}

.side_inner li a{
    transition: 0.3s;
    padding:10px;
}
.side_inner li a:hover{
    color:gold;
}

.side_ad{
    border:1px solid gold;
    width:200px;
}


